{{ define "page" }}
<div class="flex justify-center h-screen items-center bg-gray-100">
  <div class="border rounded bg-white px-10 py-10">
    <h1 class="text-3xl text-center font-bold mb-4">
      Forget Password ? please input your email to reset password
    </h1>
    <form method="post" action="/precessForgetPassword">
      <div class="mb-4">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          required
          value="{{
          .Email
          }}"
          class="border px-4 py-2 w-full"
        />
      </div>
      <div>{{ csrfField }}</div>
      <button
        type="submit"
        class="w-full text-center px-10 py-4 text-2xl mt-8 font-bold bg-blue-400"
      >
        Reset
      </button>
    </form>
  </div>
</div>
{{ end }} {{define "js"}}
<script></script>
{{end}}
