<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <header>
      <nav
        class="flex justify-between font-semibold bg-indigo-400 px-10 py-5 items-center text-white"
      >
        <h1 class="text-3xl font-bold mt-2 pl-4">DrinksAndWalk</h1>
        <div class="flex justify-spacing flex-grow">
          <button class="text-xl hover:bg-gray-600 font-blod px-10 mx-4">
            <a href="/">home</a>
          </button>
          <button class="text-xl hover:bg-gray-600 font-blod px-10 mx-4">
            <a>about</a>
          </button>
        </div>
        {{ $user :=currentUser }} {{if $user }}
        <h1>你好<span class="text-black-500 ml-4">{{$user.Name}}</span></h1>
        <form method="post" action="/logout">
          <div>{{ csrfField }}</div>
          <button
            class="text-xl hover:bg-gray-600 font-blod px-10 mx-4 text-red-400"
            type="submit"
          >
            Logout
          </button>
          {{else}}
          <button
            class="text-xl hover:bg-gray-600 font-blod px-10 mx-4 text-green-400"
          >
            <a href="/login">login</a>
          </button>
          <button class="text-xl hover:bg-gray-600 font-blod px-10 mx-4">
            <a href="/signup">sign up</a>
          </button>
          {{ end }}
        </form>
      </nav>
    </header>
    {{ if errors }} {{ range errors }}
    <div class="flex flex-row closeable bg-red-400 px-4 py-2 mt-2 text-center">
      <div class="flex-grow">{{ . }}</div>
      <button onclick="closeAlter(event)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
    </div>
    {{ end }} {{ end }} {{ template "page" .}}
  </body>
  {{template "js" }}
  <script>
    function closeAlter(event) {
      let closeable = event.target.closest(".closeable");
      closeable.remove();
    }
  </script>
</html>
