{{ define  "page" }}

<hr>
<div class="grid grid-cols-2 gap-16 bg-white w-1/2 mx-auto px-16 py-8 rounded-lg">
    <div class=" text-lg   font-bold rounded-md  px-8 border-b-2">
        <img src="assert/1.jpeg" class="w-32 h-48 mt-8 mb-8">
        <div class="text-gray-400">
        <p class="">柠檬茶</p>
        <p>价格: 5元/杯</p>
        </div>
    </div>
    <div class=" text-lg   font-bold rounded-md  px-8 border-b-2">
        <img src="assert/coffe.webp" class="w-32 h-48 mt-8 mb-8">
        <div class="text-gray-400">
        <p class="">山卡拉咖啡</p>
            <p>价格: 5元/杯</p>

        </div>
    </div>
    <div class=" text-lg   font-bold rounded-md  px-8 border-b-2">
        <img src="assert/1.jpeg" class="w-32 mt-8 mb-8">
        <div class="text-gray-400">
        <p class="">柠檬茶</p>
        <p>价格: 5元/杯</p>
        </div>
    </div>

</div>
{{ end }}

{{define "js"}}
<script>

</script>
{{end}}