{{ define "page" }}
<div class="flex justify-center h-screen items-center bg-gray-100">
  <div class="border rounded bg-white px-10 py-10">
    <h1 class="text-3xl text-center font-bold mb-4">Reset your password </h1>
    <form method="post" action="/process-reset-pw">
      <div class="mb-4">
        <label for="password">New Password</label>
        <input
          id="password"
          name="password"
          type="password"
          required
          class="border px-4 py-2 w-full"
        />
      </div>
      {{ if .Token }}
      <div class="hidden">
        <input
          id="token"
          name="token"
          type="text"
          value="{{ .Token }}"
          class="border px-4 py-2 w-full"
        />
      </div>
      {{ else }}
        <div class="mb-4">
          <label for="token">Token</label>
          <input
                  id="token"
                  name="token"
                  type="text"
                  placeholder="please input your recived token from your email "
                  required
                  class="border px-4 py-2 w-full"
          />
        </div>

      {{ end }}
      <div>{{ csrfField }}</div>
      <button
        type="submit"
        class="w-full text-center px-10 py-4 text-2xl mt-8 font-bold bg-blue-400"
      >
        Sign up
      </button>
    </form>
  </div>
</div>
{{ end }} {{define "js"}}
<script></script>
{{end}}
